.coverletterWrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: calc(100vh - 7.8rem);

  .coverletter {
    display: grid;
    grid-template-columns: 3fr 7fr;
    width: 1200px;
  }
}
