@import "../style/colors.scss";

.questionsListParent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;
  width: fit-content;

  // .questionsListParent2 {
  //   width: 63.3rem;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  // }
}

#keywordName {
  margin-bottom: 1.6rem;
  margin-top: 0;
  font-family: "AppleSDGothicNeo-Bold";
  color: $subyellowb;
  font-size: 3rem;
  text-align: left;
  display: block;
}
