@import "../../style/font.scss";

.clInputNotice {
  display: flex;
  width: 100%;
  justify-content: space-between;

  #errNotice {
    margin: 0;
    color: red;
    display: none;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .typingCount {
    color: black;
    font-size: 18px;
    margin: 0;
  }
}

.clInputButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;

  .clInputDeleteButton {
    display: flex;
    align-items: center;

    img {
      display: inline-block;
      height: 2.4rem;
      margin-right: 1rem;
    }
    p {
      margin: 0;
      display: inline-block;
      font-size: 2rem;
      font-stretch: 1.2;
      color: #838383;
      font-family: "AppleSDGothicNeo-SemiBold";
    }
  }

  .clInputSaveButton {
    display: flex;
    flex-direction: column;

    p {
      margin: 5px;
      color: #818181;
    }

    button {
      background-color: #eaeaea;
      border-radius: 8px;
      outline: none;
      padding: 18px 48px;
      border: none;
      font-size: 20px;
      font-family: "AppleSDGothicNeo-SemiBold";
    }
  }
}

.clInputWrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 4.8rem 2rem 0 2rem;
}

#problemInputDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 4.3rem;
}

#answerInputDiv {
  display: flex;
  flex-direction: column;
  width: auto;
}
