@import "../../style/font.scss";

.clListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.1rem 2.8rem 0;

  .clListTitle {
    font-size: 2.6rem;
    font-family: "AppleSDGothicNeo-Bold";
    margin: 0px;
  }

  .clElementPlus {
    img {
      display: inline;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.6rem;
    }
    p {
      display: inline;
      color: #777777;
      font-size: 1.8rem;
      font-family: "AppleSDGothicNeo-Medium";
    }

    &:active {
      background-color: #f2f2f2;
    }
  }
}

.clListWrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-top: 4.8rem;
  border-right: solid 1px #e6e6e6;
}
