.findQuestionWrapperParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6.1rem;
}

.findQuestionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keywordQuestionWrapper {
  display: grid;
  grid-template-columns: 528px 633px;
  column-gap: 4rem;
  align-items: start;
}

.findQuestionHeader {
  margin-bottom: 4.1rem;
  #findQuestionTitle {
    font-size: 3.6rem;
    font-family: "AppleSDGothicNeo-Bold";
    margin: 0;
  }
  #findQuestionExplain {
    font-size: 2.2rem;
    margin-top: 0.7rem;
  }
}
