.findQuestionWrapper {
  display: grid;
  grid-template-columns: 528px 633px;
  column-gap: 4rem;
  align-items: start;
}

.findQuestionWrapperParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
