.parent {
  display: inline-block;
  width: fit-content;
}

.itemCircleSpan {
  display: inline-block;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
}

.keywordParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.2rem;
  margin-bottom: -1.2rem;
}
