@import "./font.scss";

.loginParent {
  display: flex;
  justify-content: center;
}

.loginInputLabel {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-bottom: 3px;
  font-family: "AppleSDGothicNeo-Bold";
}

.loginInputBox {
  padding: 8px;
  border: solid 0.5px #dddddd;
  border-radius: 4px;
  display: block;
  width: calc(100% - 18px);
}

.loginInputBox::placeholder {
  font-family: "AppleSDGothicNeo-Regular";
  font-size: 9px;
  color: #c1c1c1;
}

.loginInputDiv {
  margin-bottom: 9px;
  width: inherit;
}

.loginBtn {
  width: 100%;
  background-color: #ffd76a;
  border: none;
  border-radius: 4px;
  padding: 8px 0 8px 0;
  text-align: center;
  font-size: 10px;
  font-family: "AppleSDGothicNeo-Bold";
  color: #000000;
  display: block;
}

.loginTitle {
  display: block;
  width: inherit;
  font-size: 17px;
  text-align: left;
  color: #453f36;
  margin-bottom: 13px;
  font-family: "GmarketSansBold";
}

.loginForm {
  width: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aToSignUp {
  font-size: 9px;
  text-align: center;
  color: #fab700;
  font-family: "AppleSDGothicNeo-Bold";
  margin-top: 50px;
}

#aToFindIdpw {
  font-size: 9px;
  text-align: right;
  color: #707070;
  float: right;
  font-family: "AppleSDGothicNeo-Regular";
}

#maintainLoginText {
  font-size: 9px;
  text-align: left;
  color: #707070;
  font-family: "AppleSDGothicNeo-Regular";
}

#loginEtcDiv {
  width: inherit;
  display: flex;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
}
