#headerWrapper {
  display: flex;
  border-bottom: solid 1px #e6e6e6;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;

  a {
    display: inline;
    font-size: 1.8rem;
    color: #707070;
    margin: 0;
    margin-right: 39px;
    font-family: "AppleSDGothicNeo-Medium";
    text-decoration: none;
  }
}

#header {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
}

#headerNavigators {
  display: flex;
  align-items: center;
}

#myProfile {
  margin-left: 7rem;
}
