.highlightText {
  width: fit-content;
  margin-bottom: 2.8rem;

  p {
    margin: 0;
    position: relative;
    text-align: left;
    width: fit-content;
    font-size: 2.8rem;
    font-family: "AppleSDGothicNeo-Bold";
    color: black;
  }
  div {
    position: relative;
    top: -1.4rem;
    height: 1.1rem;
    width: 100%;
    background-color: #fde97f41;
  }
}
