@import "../style/colors.scss";

.inputBox {
  padding: 1rem;
  border: solid 1px $grayborder;
  border-radius: 0.5rem;
  display: block;
  width: calc(100% - 2.125rem);
  margin-bottom: 0.563rem;
  font-family: "AppleSDGothicNeo-Regular";
  font-size: 1.125rem;

  &::placeholder {
    font-family: "AppleSDGothicNeo-Regular";
    font-size: 1.125rem;
    color: $darkgray;
    font-stretch: 1.2;
  }

  &:focus {
    outline: none;
    font-family: "AppleSDGothicNeo-Regular";
    font-size: 1.125rem;
    border-radius: 0.5rem;
    border-color: $subyellowb;
  }
}
