@import "../style/colors.scss";

.inputBox {
  padding: 8px;
  border: solid 0.5px $grayborder;
  border-radius: 4px;
  display: block;
  width: calc(100% - 18px);
  margin-bottom: 4.5px;

  &::placeholder {
    font-family: "AppleSDGothicNeo-Regular";
    font-size: 9px;
    color: $darkgray;
  }
}
