.itemCircle {
  display: inline-block;
  margin-right: 0.6rem;
  height: fit-content;

  div {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.6rem;
  }

  p {
    display: inline-block;
    font-size: 1.4rem;
    text-align: left;
    color: #717171;
    font-family: "AppleSDGothicNeo-Light";
    margin: 0;
  }
}
