#questionText {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  color: black;
  margin: 0.875px 0 1.313rem 0;
  font-family: "AppleSDGothicNeo-Medium";
}

#underQuestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;

  #evaluateQuestionBox {
    border-radius: 1.563rem;
    background-color: #f7f7f7;
    padding: 0.969rem 1.375rem 0.844rem 1.375rem;
    color: #818181;
    font-size: 1.125rem;
    display: flex;
    width: fit-content;
    font-family: "AppleSDGothicNeo-Regular";

    #icGood,
    #icBad {
      display: inline-block;
      width: 1.181rem;
      height: 1.125rem;
      margin-left: 0.775rem;
    }
  }

  #editAnswerBox {
    #icEdit {
      width: 0.9rem;
      height: 0.9rem;
      margin-right: 1rem;
    }
    p {
      display: inline;
      font-size: 1.125rem;
      color: #898989;
    }
  }
}
