.scrapAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  font-family: "AppleSDGothicNeo-Regular";

  .evaluateScrap {
    border-radius: 2.5rem;
    background-color: #ffffff;
    padding: 0 2.2rem 0 0.5rem;
    color: #a0a0a0;
    font-size: 1.8rem;
    display: flex;
    width: fit-content;
  }
}
