@import "../../style/colors.scss";

.questionsListParent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

#keywordName {
  margin-bottom: 1.6rem;
  margin-top: 0;
  font-family: "AppleSDGothicNeo-Bold";
  color: $subyellowb;
  font-size: 3rem;
  text-align: left;
  display: block;
}

.keywordNull {
  display: flex;
  justify-content: center;

  .keywordClick {
    text-align: center;
    margin: 0;
    font-family: "AppleSDGothicNeo-Bold";
    color: #818181;
    font-size: 3rem;
    display: block;
  }
}
